@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-black: #000;
  --color-background: #fff2e0;
  --color-dark-background: #3b342a;
  --color-base-ink: #664a26;
  --color-ink: var(--color-base-ink);
  --color-dark-ink: #fff2e0;
  --color-border: #bda887;
  --color-dark-border: #65553c;
  --color-base-primary: #c79233;
  --color-primary: var(--color-base-primary);
  --color-dark-primary: #ffd07c;
  --color-card: #f0e4be;
  --color-permanent: oklch(27.4% 0.006 286.033);
  --color-danger: #c2554f;
  --color-success: #00b286;
  --color-tag-enemy: oklch(50.5% 0.213 27.518);
  --color-tag-building: oklch(55.4% 0.046 257.417);
  --color-tag-person: oklch(79.5% 0.184 86.047);
  --color-tag-seafaring: oklch(68.5% 0.169 237.323);
  --color-tag-land: oklch(72.3% 0.219 149.579);
  --color-tag-livestock: oklch(70.5% 0.213 47.604);
  --color-tag-tag: oklch(80.8% 0.114 19.571);
  --font-display: 'Cinzel', serif;
  --font-deco: 'Cinzel Decorative', serif;
  --font-body: 'EB Garamond', serif;

  @variant dark {
    --color-primary: var(--color-dark-primary);
    --color-ink: var(--color-dark-ink);
    --color-background: var(--color-dark-background);
    --color-border: var(--color-dark-border);
  }
}
